div.banner {
  text-align: center;
  display: block;
  font-family: Poppins,sans-serif;
  color: rgb(238, 160, 86);
}

ul.nav-links {
  margin: 0 auto;
  display: flex;
  padding: 0;
  justify-content: center;
  text-transform: lowercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 18px;
  list-style-type: none;
}
li {
  margin: 0 10px;
}
a {
  text-decoration: none;
  color: rgb(238, 160, 86);
}
li:hover {
  text-decoration: underline;
  text-decoration-color: rgb(238, 160, 86);
}
a img {
  width: 30px;
  height: 30px;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(238, 160, 86);
}
a img:hover {
  color: 	rgb(105,105,105)
}
div.socials {
  width: 30px;
  height: 30px;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(238, 160, 86);
  font-family: Poppins,sans-serif;
}
  
