div.banner {
  margin: 0 auto;
  display: block;
}

ul.nav-links {
  margin: 0 auto;
  display: table;
  text-transform: lowercase;
  letter-spacing: 0px;
  font-weight: 400;
  font-size: 18px;
  list-style-type: none;
}

